@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

     body {
          @apply font-inter;
     }
}

.header {
     @apply bg-white w-full px-4 lg:px-[100px] py-[21px] lg:py-4 flex justify-between sticky top-0 z-50;
}
/* 
.footer{
     @apply px-[100px] py-[60px] flex justify-between items-start lg:gap-x-[209px];
} */

.searchbar{
     box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16)
}

.vc-highlight {
     border-color: #F04935 !important;
     background-color: #F04935 !important;
}
